<div class="container">
  <div class="page-header text-center">
    <h1><%= title %> <small> Can you defeat me? </small> </h1>
  </div>
  <div class="text-center">
    <a href="form" class="text-center"> <button type="button" class="btn btn-success btn-lg" > New game </button></a>
    <a href="form"> <button type="button" class="btn btn-info btn-lg" > Instructions </button></a>
  </div>


</div>
