<!--
* Exam 2: Evil Hangman
* Date: 26-Oct-2015
* Authors:
*           A01169701 Rodolfo Andrés Ramírez Valenzuela
*
-->

<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="js/play.js"></script>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/bootstrap.js"></script>

  </head>
  <body>


    <%- body %>
  </body>
</html>
