<!--
* Authors:
*           Rodolfo Andrés Ramírez Valenzuela
*
-->

<!DOCTYPE html>
<html>
  <head>
    <title> The Hangman game! </title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="js/play.js"></script>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/bootstrap.js"></script>

  </head>
  <body>


    <%- body %>
  </body>
</html>
