<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/estilos.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

  </head>
  <body>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/bootstrap.js"></script>

    <%- body %>
  </body>
</html>
