<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="js/play.js"></script>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/bootstrap.js"></script>

  </head>
  <body>


    <%- body %>
  </body>
</html>
